/* Import - Bulma */
@import '~bulma/bulma.sass';

/* Import - Navigation & Footer */
@import './modules/navbar/navbar.scss';
@import './modules/footer/footer.scss';

/* Import - Body */
@import './modules/body/title.scss';
@import './modules/body/hero.scss';
@import './modules/body/herolrg.scss';
@import './modules/body/featured.scss';
@import './modules/body/worked.scss';
@import './modules/body/other.scss';
@import './modules/body/skills.scss';
@import './modules/body/txtimg.scss';
@import './modules/body/imgtxt.scss';
@import './modules/body/summary.scss';
@import './modules/body/titletxt.scss';
@import './modules/body/contact.scss';

/* Import - Projects */
@import './modules/projects/small.scss';
@import './modules/projects/large.scss';

/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=VT323&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62pt;
  margin: 0px;
  color: #000000;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 62pt;
  margin: 0px;
  color: #000000;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50pt;
  margin: 0px;
  color: #000000;
}

h4 {
  font-family: 'VT323', monospace;
  font-size: 16pt;
  margin: 0px;
  text-transform: uppercase;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
  margin: 0px;
}

a {
  font-family: 'VT323', monospace;
  font-size: 14pt;
  margin: 0px;
  text-transform: uppercase;
  color: #000000;
}

.link-spacing {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.divider2 {
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 36pt;
  }
  
  h2 {
    font-size: 36pt;
  }
  
  h3 {
    font-size: 30pt;
  }
  
  h4 {
    font-size: 14pt;
  }
  
  p {
    font-size: 12pt;
  }
  
  a {
    font-size: 12pt;
  }
}