/* Container */

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
}

/* Left */

.contact-lft {
  display: flex;  
}

.contact-rgt {
  display: flex;
}