/* Container */

.imgtxt-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #000000
}

.imgtxt-container h4 {
  color: #FFFFFF;
}

.imgtxt-container p {
  color: #FFFFFF;
}

/* Left */

.imgtxt-rgt {
  flex: 1 1 400px;
}

.imgtxt-lft {
  flex: 1 1 400px;
  margin-right: 40px;
}

.txtimg-container img {
  width: 700px;
}

@media only screen and (max-width: 900px) {
  .imgtxt-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 60px;
  }
}