.other-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.title {
  max-width: 700px;
}

.other-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.divider {
  width: 40px;
}

.other {
  display: flex;
  flex-direction: column;
  flex: 1 1 400px;
}

.other img {
  border: #979797 1px solid;
  width: 100%;
}

.other-txt {
  margin-top: 40px;
}

@media only screen and (max-width: 900px) {
  .other-txt {
    margin-top: 10px;
  }
  .other {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}