.skills-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  background-color: #000000;
}

.skills-container h4 {
  color: #FFFFFF;
}

.skills-container p {
  color: #FFFFFF;
}

.divider {
  width: 100px;
}

.col-wrap {
  flex: 1 1 310px;
}

.skill {
  max-width: 300px;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}

.skill2 {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
}

@media only screen and (max-width: 1100px) {
  .col-wrap {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 900px) {
  .col-wrap {
    margin-bottom: 60px;
  }
  .skills-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}