.skills-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  display: flex;
  background-color: #000000;
}

.skills-container h4 {
  color: #FFFFFF;
}

.skills-container p {
  color: #FFFFFF;
}

.divider {
  width: 100px;
}

.col-wrap {
  width: 500px;
}

.skill {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;
}

.skill2 {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
}