.title-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.title-container-blk {
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}

.title-container-blk h1 {
  color: #FFFFFF;
}

.title {
  max-width: 700px;
}

@media only screen and (max-width: 900px) {
  .title-container {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
  }
}