/* Container */

.txtimg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}

.txtimg-container-wht {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.txtimg-container h4 {
  color: #FFFFFF;
}

.txtimg-container p {
  color: #FFFFFF;
}

/* Left */

.txtimg-lft {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 400px;
}

.txtimg-rgt {
  display: flex;
  flex: 1 1 400px;
  margin-left: 40px;
}

.txtimg-container img {
  width: 700px;
}

@media only screen and (max-width: 900px) {
  .txtimg-rgt {
    margin-left: 0px;
  }
  .img-none img {
    display: none;
  }
  .txtimg-container {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .extra-space {
    margin-bottom: 30px;
  }
  .extra-mar {
    padding-top: 40px;
  }
  .text-space {
    margin-bottom: 30px;
  }
}