.small-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}

.small-container h1 {
  color: #FFFFFF;
}

.small-container p {
  color: #FFFFFF;
}

.small-container a {
  color: #FFFFFF;
}

.small-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.smol-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  flex: 1 1 350px;
}

/* Smallcard Container */

.smallcard-title-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.smallcard-wrapper {
  display: flex;
}

.smallcard-btns {
  width: 150px;
  display: flex;
  flex-direction: column;
}