.small-wrapper {
  background-color: #FFFFFF;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
}

.small-card {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

.small-card-img {
  width: 560px;
  margin-right: 60px;
}

.small-card-img img {
  width: 560px;
}

.small-card-txt {
  flex: 1 1 500px
}

/* Smallcard Container */

.smallcard-title-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.smallcard-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 30px;
}

.largecard-hero-wrapper-img {
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.smallcard-btns {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.link-spacing-small {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}