.small-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  background-color: #FFFFFF;
}

.smol-card {
  margin-bottom: 60px;
  margin-right: 20px;
  max-width: 600px;
}

/* Smallcard Container */

.smallcard-title-container {
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.smallcard-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 60px;
  margin-top: 30px;
}

.largecard-hero-wrapper-img {
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.smallcard-btns {
  width: 150px;
  display: flex;
  flex-direction: column;
}

.link-spacing-small {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}