.footer-container {
  background-color: #FFFFFF;
}

.footer-container-drk {
  background-color: #000000;
}

.footer-top {
  text-align: center;
}

.footer-txt {
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.footer-txt-drk p {
  color: #000000;
}