.footer-container {
  background-color: #FFFFFF;
  padding-top: 60px;
}

.footer-container-drk {
  background-color: #000000;
  padding-top: 60px;
}

.footer-container img {
  width: 160px;
  height: 160px;
}

.footer-container-drk img {
  width: 160px;
  height: 160px;
}

.footer-top {
  text-align: center;
}

.footer-txt {
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.footer-txt-drk {
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.footer-txt p {
  color: #000000;
}

.footer-txt-drk p {
  color: #FFFFFF;
}